<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684915991167-rirvvibqj7m0ifqlv05bt6c0cvsf6kvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684915991167-rirvvibqj7m0ifqlv05bt6c0cvsf6kvk</string>
	<key>API_KEY</key>
	<string>AIzaSyAqhWi-uP70-fWBRrhz45kL5bFYwlkBMG8</string>
	<key>GCM_SENDER_ID</key>
	<string>684915991167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.mostadeem</string>
	<key>PROJECT_ID</key>
	<string>mostadeem1</string>
	<key>STORAGE_BUCKET</key>
	<string>mostadeem1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684915991167:ios:4b97d155b33015e6fd554a</string>
</dict>
</plist>